/*
Custom CSS by Alex Gleason

Licensed under CC0: https://creativecommons.org/publicdomain/zero/1.0/

But be aware it might be considered a derivative work of SquareSpace's proprietary CSS. IANAL.
*/

/* Make "Adam Kol" bold */
.site-title-text {
  font-weight: bold;
}

/* Increase spacing between "Adam Kol" and the site tagline */
.tweak-show-site-tagline.tweak-site-branding-layout-inline .no-wrap .site-title .site-tagline {
  margin-left: 2em;
}

/* Footer nav links are bunched up by default, increase spacing */
.footer-nav .main-navigation > div {
  margin: 0 2em 0;
}

/* Make "Contact" link in footer nav stand out. Really it just emphasizes the first link. */
.footer-nav .main-navigation > div[class*="nav-link"]:first-child a {
  color: #59b8c6;
  font-weight: bold;
}

/* Make social share buttons the right color at the bottom of blog posts */
.Share-buttons-item {
  color: #59b8c6;
  fill: #59b8c6;
}
